@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #666;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    outline: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:active,a:focus,a:visited {
    outline: none;
}

img {
    border: none;
}

input.text {
    border: 1px solid #666;
    padding: 2px;
    width: 130px;
}

ul,li {
    margin-left: 8px;
    padding: 0;
}

.radio_label {
    padding: 0 5px 0 10px;
}

fieldset {
    background-image: none;
    border: 0 none #fff;
    padding: 0;
}

fieldset.button_row {
    margin-left: 13em;
}

.button {
    background-color: #fe9900;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    padding: 1px;
}

.clear {
    clear: both;
}

#modalDialog button {
    padding-left: 5px;
    padding-right: 5px;
}

#modalDialog_content {
    font-size: 12px;
    padding-left: 21px;
    padding-right: 21px;
}

#modalDialog .button,#modalDialog button {
    background-color: #333;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    height: 14px;
    margin: auto;
    padding-top: 2px;
    text-align: center;
    width: 64px;
}

.modalHeader {
    color: #666;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 21px;
    text-transform: uppercase;
}

#modal_dialog_buttons_ok,#modal_dialog_buttons_yes,#modal_dialog_buttons_no
    {
    width: 130px;
}

#modal_dialog_buttons_yes {
    background-color: #f90 !important;
    float: left;
}

#modal_dialog_buttons_no {
    float: right;
}

#modal_dialog_buttons_yes:hover {
    background-color: #ffb94b !important;
}

#modal_dialog_buttons_no:hover {
    background-color: #999 !important;
}

.modal_dialog_error {
    background-color: #fff;
    color: red;
    margin: auto;
}

#modalDialog input.text {
    margin-right: 4px;
    width: 140px;
}

#modalDialog input[type=checkbox] {
    margin-right: 4px;
}

.modal_dialog_text {
    font-size: 12px;
    margin-bottom: 12px;
}

.simpleDialog,.alertBox {
    font-size: 12px;
}

.simpleDialog {
    top: 5% !important;
}

.simpleDialogAlignTop {
    top: 5% !important;
}

.simpleDialog .ui-dialog-titlebar,.alertBox .ui-dialog-titlebar {
    background-color: #FFF;
}

.simpleDialog .ui-widget-header,.alertBox .ui-widget-header {
    border-bottom: 0;
}

.simpleDialog .ui-state-default,.alertBox .ui-state-default {
    background: #333;
    border: none;
    color: #FFF;
}

#simpleDialogContent {
    padding-left: 27px;
}

#simpleDialogContent h2.title {
    margin-bottom: 10px;
}

#simpleDialogContent .titleWithBackground {
    background-image: url("../images/header-info.gif");
    height: 47px;
    overflow: hidden;
    padding: 20px 10px 20px 41px;
    margin-left: -40px;
    margin-right: -12px;
}

#simpleDialog a {
    color: #333;
}

#simpleDialog .trenner {
    border-top: 1px solid #666;
    padding-top: 8px;
}

.kursiv {
    font-style: italic;
}

.StatusCheck_description {
    margin-bottom: 10px;
}

#StatusCheckItems {
    height: 100px;
    margin-bottom: 10px;
}

.StatusCheckItem {
    clear: both;
    float: left;
    margin-bottom: 3px;
    width: 250px;
}

.StatusCheckHint {
    float: left;
}

.StatusCheck_after {
    display: none;
}

.StatusCheck_false {
    background-image: url("../images/warning.png");
    background-repeat: no-repeat;
    margin-top: 1px;
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    margin-right: 3px;
}

.StatusCheck_true {
    background-color: white;
    padding-top: 0;
    width: 12px;
    height: 12px;
    display: block;
    display: none;
}
